<section class="section shop">
    <div class="container">
        <h1 class="title shop__title">Магазин</h1>
        <div class="shop__wrapper">
            <ul class="sidebar">
                <li class="sidebar__item sidebar__item--open">
                    <button class="sidebar__btn sidebar__btn--open">
                        Показать фильтр
                    </button>
                    <button class="sidebar__btn sidebar__btn--close sidebar__btn--disabled">
                        Скрыть фильтр
                    </button>
                </li>
                <li class="sidebar__item sidebar__item--disabled">
                    <h2 class="shop-filter__title">Категория</h2>
                    <form class="shop-filter" action="#">
                        <ul class="shop-filter__list">
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="t-shirt" name="t-shirt" checked>
                                <label class="shop-filter__label" for="t-shirt">Футболки</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="long-sleeve"
                                    name="long-sleeve">
                                <label class="shop-filter__label" for="long-sleeve">Лонгсливы</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="hoody" name="hoody">
                                <label class="shop-filter__label" for="hoody">Худи</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="sweatshirt" name="sweatshirt">
                                <label class="shop-filter__label" for="sweatshirt">Свитшоты</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="cap" name="cap">
                                <label class="shop-filter__label" for="cap">Кепки</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="cup" name="cup">
                                <label class="shop-filter__label" for="cup">Чашки</label>
                            </li>
                        </ul>
                    </form>
                </li>
                <li class="sidebar__item sidebar__item--disabled">
                    <h2 class="shop-filter__title">Пол</h2>
                    <form class="shop-filter" action="#">
                        <ul class="shop-filter__list">
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="man" name="man">
                                <label class="shop-filter__label" for="man">Мужское</label>
                            </li>
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="woman" name="woman">
                                <label class="shop-filter__label" for="woman">Женское</label>
                            </li>
                        </ul>
                    </form>
                </li>
                <li class="sidebar__item sidebar__item--disabled">
                    <h2 class="shop-filter__title">Наличие на складе</h2>
                    <form class="shop-filter" action="#">
                        <ul class="shop-filter__list">
                            <li class="shop-filter__item">
                                <input class="shop-filter__checkbox" type="checkbox" id="in" name="in">
                                <label class="shop-filter__label" for="in">В наличии</label>
                            </li>
                        </ul>
                    </form>
                </li>
                <li class="sidebar__item sidebar__item--disabled">
                    <button class="main-btn main-btn--filter" type="button">Применить</button>
                </li>
                <li class="sidebar__item sidebar__item--close sidebar__item--disabled">
                    <button class="sidebar__btn sidebar__btn--bottom" type="button">Свернуть</button>
                </li>
            </ul>

            <ul class="shop__list">
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/first-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWUL KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Женская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">380 грн</span>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/second-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWRA KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Мужская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">380 грн</span>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/third-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWUL KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Женская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">340 грн</span>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/four-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWUL KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Женская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">380 грн</span>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/five-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWUL KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Женская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">340 грн</span>
                    </article>
                </li>
                <li class="shop__item">
                    <article class="product-card">
                        <a class="product-card__link" href="#">
                            <img class="product-card__img" src="images/shop/six-shirt.jpg" width="260" height="260" alt="Женская футболка JHK SWUL KNG">
                            <h3 class="product-card__title">JHK SWUL KNG</h3>
                        </a>
                            <a class="product-card__category" href="#">Женская футболка</a>
                            <span class="product-card__number">Артикул: FB7607</span>
                            <span class="product-card__price">380 грн</span>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>