<section class="features">
    <div class="container">
        <h2 class="title">
            Почему мы
        </h2>
        <ul class="features__inner">
            <li class="features__item features__item--supply">
                <h3 class="features__caption">Собственное призводство и склад</h3>
                <p class="features__text">
                    прозволяют поставлять продукцию без дополнительных издержек
                </p>
            </li>
            <li class="features__item features__item--loyalty">
                <h3 class="features__caption">Система лояльности</h3>
                <p class="features__text">
                    для постоянных клиентов
                </p>
            </li>
            <li class="features__item features__item--timing">
                <h3 class="features__caption">Мы четко соблюдаем сроки поставки</h3>
                <p class="features__text">
                    так как для Вас это важно
                </p>
            </li>
            <li class="features__item features__item--quality">
                <h3 class="features__caption">Наш отдел качества</h3>
                <p class="features__text">
                    четко следит за соответствием товара заявленным параметрам
                </p>
            </li>
        </ul>
    </div>
</section>