<section class="portfolio">
    <div class="container">
        <h2 class="title portfolio__title">Наши работы</h2>

        <ul class="portfolio__inner">
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/cups.jpg" alt="Принты на чашках">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/mouse.jpg" alt="Принты на коврике мыши">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/sert.jpg" alt="Печать сертификатов">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/t-shirt-blue.jpg" alt="Синяя футболка с принтом льва">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/caps.jpg" alt="Черные кепки с принтами">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/t-shirt-heart.jpg" alt="Принт сердца на белой футболке">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/t-shirt-black.jpg" alt="Черная футболка с принтом">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/star-wars.jpg" alt="Принт персонажа на футболке">
                </a>
            </li>
            <li class="portfolio__item">
                <a class="portfolio__link" href="#">
                    <img src="images/portfolio/shirt-white.jpg" alt="Принт на белой майке">
                </a>
            </li>
        </ul>
    </div>
</section>