<section class="section post">
    <div class="container post__container">
        <h1 class="sr-only">Рекомендации от специалистов InColor</h1>
        <a class="link breadcrumbs" href="#">Вернуться в каталог</a>
        <article class="post__article">
            <h2 class="article-title post__article-title">Как выбрать футболку?</h2>
            <time class="date-time date-time--blog" datetime="2022-12-10 12:32">12.10.22 12:32</time>
            <div class="post__img">
                <img src="images/post/white-shirt.jpg" width="800" height="430" alt="Белая футболка с принтом">
            </div>
            <div class="post__text">
                <p>Детские футболки должны соответствовать нескольким важным характеристикам, чтобы вы могли быть
                    уверены в качестве. Изделие должно хорошо защищать как от холода, так и от перегрева, а также хорошо
                    пропускать воздух и быть пошитым из натуральной ткани.
                </p>
                <p>
                    Обязательно проверьте фурнитуру — на детских вещах она пришивается на плечах или спереди, но ни в
                    коем случае не сзади. Убедитесь, что швы достаточно ровные, резинки на горловине упругие, а
                    окрашивание равномерное. Лучше всего, если низ подшит ровно, а не волнообразно, рукава и плечи
                    соответствуют друг другу по длине и в остальном пропорции сохраняются.
                </p>
                <p>
                    Сразу при покупке стоит уточнить касательно ухода за изделием, узнать о бренде и составе материала.
                    Дети очень любят трикотажные изделия, которые защищают от холода и приятны к телу в жару. Отличным
                    вариантом также будут хлопковые или льняные вещи — они гигиеничны, натуральны и гиппоаллергенны.
                </p>
            </div>
        </article>
    </div>
</section>